body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center-clear {
    text-align: center;
    clear: both;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}